.container{
    background-color: black;
    height: 100;
    display: flex;
    justify-content: center;
}
.h1{
    color: aliceblue;
}
.firstDiv{
    background-color: rgb(255, 255, 255);
    width: 300;
    height: 120;
    border-radius: 8px;
    box-shadow: 0 1px 5px 0 black;
    display: inline block;
    margin-top: 50;
}
.secondDiv{
    background-color: rgb(38, 0, 255);
    width: 300;
    height: 170;
    border-radius: 8px;
    box-shadow: 0 1px 5px 0 black;
    display: inline-block;
    margin-top: 20px;
}
.thirdDiv{
    background-color: rgb(255, 255, 255);
    width: 300;
    height: 120;
    border-radius: 8px;
    box-shadow: 0 1px 5px 0 black;
    display: inline-block;
    margin-top: 50;

}